.main {
  background-color: #40086e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
  z-index: 0;
}
.modal {
  background-color: #830478;
  min-width: 25%;
  min-height: 25%;
  max-width: 50%;
  max-height: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 2%;
  align-self: center;
  order: 1;
  z-index: 100;
  color: #ffffff;
  text-align: center;
  font-family: "Trebuchet MS";
  border-radius: 15px;
}
.inactive {
  display: none;
}
.btnSelected {
  background-color: greenyellow;
  color: black;
  font-family: "Trebuchet MS";
  border-radius: 15px;
}
.btnUnselected {
  background-color: white;
  color: black;
  font-family: "Trebuchet MS";
  border-radius: 15px;
}
.btnToppingClicked {
  background-color: rgb(255, 0, 106);
  color: white;
  font-family: "Trebuchet MS";
  border-radius: 15px;
}
.btnReset {
  background-color: yellow;
  color: black;
  font-family: "Trebuchet MS";
  border-radius: 15px;
}
.lock {
  background-color: gray;
  background-size: cover;
  z-index: 1;
}
